<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ fontawesome_html() }}
    <title>Heddit</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,600;1,700&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/nav.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/feed.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/post.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/user.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/post-details.css') }}">
</head>
<body>
    <section class="hero is-primary is-fullheight">
            <nav class="nav">
                <a href="{{ url_for('main.index') }}" class="nav-title">
                    heddit
                </a>
                {% if current_user.is_authenticated %}
                <div class="right-side">
                    <a href="{{ url_for('main.user_profile', user_id=current_user.id) }}" class="nav-item profile-button">
                        {{ current_user.name }}
                    </a>
                    <a href="{{ url_for('auth.logout') }}" class="nav-item logout-button">
                        Logout
                    </a>
                </div>
                {% endif %}
                    {% if not current_user.is_authenticated %}
                <div class="right-side">
                    <a href="{{ url_for('auth.login') }}" class="nav-item">
                        Login
                    </a>
                    <a href="{{ url_for('auth.signup') }}" class="nav-item">
                        Sign Up
                    </a>
                </div>
                    {% endif %}
                    
                </div>
            </nav>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
    
</body>

</html>