<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ fontawesome_html() }}
    <title>Heddit</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/post.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/comment.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div class="comment">
    <div class="post-vote-wrapper">
        <button class="upvote">
          <a href="{{ url_for('main.upvote_comment', post_id=comment.post_id, user_id=comment.user_id, comment_id=comment.id) }}">
            <i class="fa fa-sort-up fa-lg"></i>
          </a>        
        </button>
        <p class='post-votes'>{{comment.votes}}</p>
        <button class="downvote">
          <a href="{{ url_for('main.downvote_comment', post_id=comment.post_id, user_id=comment.user_id, comment_id=comment.id) }}">
            <i class="fa fa-sort-down fa-lg"></i>
          </a>
        </button>
      </div>

      <div class="comment-content">
        <div class="comment-header">
            {% if comment.author == current_user.name %}
            <a href="{{ url_for('main.user_profile', user_id=comment.user_id) }}" class="comment-author">
            <span class='by'>by</span> <span class="author-wrapper">{{ comment.author }}</span>
            </a>
            {% else %}
            <a href="{{ url_for('main.user_profile', user_id=comment.user_id) }}" class="comment-author">
            <span class='by'>by</span> <span class="author-wrapper">{{ comment.author }}</span>
            </a>
            {% endif %}
            <p class='comment-timestamp'>{{comment.timestamp}}</p>
        </div>
        <p class="comment-details">{{comment.text}}</p>
        <div id="reply-form-button-wrapper" class="{{comment.id}}" onClick="openReplyForm(this.className)">
          <i class="fa fa-comment reply-icon"></i>
          <button id="reply-form-button" >reply</button>
        </div>
        <div class="{{comment.id}}reply-form-wrapper ">
          {% if current_user.is_authenticated %}
          <form action="/comment_reply/{{ comment.id }}/{{ comment.post_id }}/{{ comment.user_id }}" method="POST" class="{{comment.id}}comment-form reply-form-container" id="reply-form" onsubmit="clearAll()">
              <input
                type="text"
                placeholder="What do you think?"
                class="reply-text"
                name="reply-text"
              >
                <button type="submit" value="post" class="comment-submit">reply</button>
            </form>
          {% else %}
          <form class="comment-form" id="reply-form">
              <input
                type="text"
                placeholder="enter your comment..."
                class="reply-text"
                name="reply-text"
              >
              <button type="submit" value="post" class="comment-submit" onClick="return login()">post</button>
          </form>
          {% endif %}
        </div>
    </div>
    </div>
</div>
{% block javascript %}
  <script>
      const replyFormButtons = document.querySelectorAll('.reply-form-button')
      const replyForm = document.querySelector('.reply-form-wrapper')
      let replyFormIsOpen = false

      openReplyForm = (id) => {
        console.log('id: ', id)
        let currentFormIsOpen = document.getElementsByClassName(`${id}comment-form`)[0].style.display;
        console.log('currentFormIsOpen: ', currentFormIsOpen)
        if (currentFormIsOpen != 'flex') {
          document.getElementsByClassName(`${id}comment-form`)[0].style.display = 'flex';
        } else {
          document.getElementsByClassName(`${id}comment-form`)[0].style.display = 'none'
        }
      }
  </script>
{% endblock %}
</body>
</html>