<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Heddit</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/post.css') }}">
</head>
<body>
    <form action="/edit_post_form/{{ post.id }}/{{ user.id }}" method="GET">
        <button type="submit" value="post" class="edit-button modify-button">
            <i class="fa fa-pen fa-lg"></i>        
        </button>
    </form>
</body>
</html>