{% extends "base.html" %}

{% block content %}
<div class="feed-wrapper">
  <div class="all-posts-wrapper">
    <div class="posts-wrapper {{sort_by}}" name='index'>
    {% include "sort_buttons.html" %}
  {% if all_posts %}
    {% if sort_by == 'sort-by-upvote' %}
      {% for post in all_posts|sort(attribute='votes', reverse = True) %}
        {% include "post.html" %}
      {% endfor %}
    {% elif sort_by == 'sort-by-downvote' %}
      {% for post in all_posts|sort(attribute='votes') %}
        {% include "post.html" %}
      {% endfor %}
    {% elif sort_by == 'dates_oldest' %}
      {% for post in all_posts|sort(attribute='timestamp') %}
        {% include "post.html" %}
      {% endfor %}
    {% elif sort_by == 'dates_newest' %}
      {% for post in all_posts|sort(attribute='timestamp', reverse = True) %}
          {% include "post.html" %}
        {% endfor %}
    {% else %}
      {% for post in all_posts|sort(attribute='timestamp', reverse = True) %}
        {% include "post.html" %}
      {% endfor %}
    {% endif %}
  {% endif %}
  </div>
  </div>
  <div class="subreddits-wrapper">
    {% include "sidebar.html" %}
  </div>
</div>
{% block javascript %}
  <script>
    
  </script>
{% endblock %}
{% endblock %}
