{% extends "base.html" %}

{% block content %}

<div class="signup-wrapper">
    <h3 class="signup-title">Login</h3>
    {# <div class="box"> #}
        
        <form method="POST" action="/login" class="signup-form">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="messages">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
            <div class="field">
                <div class="control">
                    <label class="signup-label email-label">Email</label>
                    <input class="input" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="signup-label password-label">Email</label>
                    <input class="input" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            {#
            <div class="field">
                <label class="checkbox-label">
                    <input type="checkbox" class="checkbox">
                    Remember me
                </label>
            </div>
            #}
            <div class="field">
                <label class="container">Remember me
                    <input type="checkbox" checked="checked" class="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="signup-buttons-wrapper"> 
                <button class="signup-button">Login</button>
                <div class="email-exists">
                    New to heddit? <a href="{{ url_for('auth.signup') }}" class="go-to-login">Sign Up</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}