{% extends "base.html" %}
{% block content %}
<div class="feed-wrapper">
  <div class="all-posts-wrapper">
  <div class="posts-wrapper">
  {% if post %}
    <div class="post">
    {% if current_user.is_authenticated %}
      <div class="post-vote-wrapper">
        <button class="upvote">
          <a href="{{ url_for('main.upvote_post_details', post_id=post.id, user_id=post.user.id) }}">></a>        
        </button>
        <p class='post-votes'>{{post.votes}}</p>
        <button class="downvote">
          <a href="{{ url_for('main.downvote_post_details', post_id=post.id, user_id=post.user.id) }}">></a>
        </button>
      </div>
      {% endif %}
      {% if not current_user.is_authenticated %}
      <div class="post-vote-wrapper">
        <button class="upvote">></button>
        <p class='post-votes'>{{post.votes}}</p>
        <button class="downvote">></button>
      </div>
      {% endif %}
      <div class="post-details-content-wrapper">
        <div class="post-details-header">
          <a href="{{ url_for('main.post_details', post_id=post.id) }} " class="post-details-title">{{post.title}}</a>        
          <p class="post-details-timestamp">{{post.timestamp}}</p>   
        </div>
        {% if post.description.startswith('http') %}
        <a href="{{ (post.description) }} " class="post-link" target="_blank">{{post.description}}</a>
        {% else %}
        <h3 class='post-details-description'>{{post.description}}</h3>
        {% endif %}
        <div class="post-content-footer">
        <div class='post-footer-content-wrapper'>
          {% set ns = namespace(comment_count=0) %}
            {% for comment in post.comments %}
              {% set ns.comment_count = ns.comment_count + 1 %}
            {% endfor %}
            <a href="{{ url_for('main.post_details', post_id=post.id) }} " class="post-comments">{{ ns.comment_count }} comments</a>
            <a href="{{ url_for('main.get_posts_for_subreddit', sub_name=post.sub) }} " class="post-subreddit">/h/{{post.sub}}</a>
            {% if post.user.name == current_user.name %}
            <a href="{{ url_for('main.user_profile', user_id=post.user.id) }}" class="post-author">
                <span class='by'>by</span> <span class="author-wrapper">{{ post.user.name }}</span>
            </a>
            {% else %}
            <a href="{{ url_for('main.user_profile', user_id=post.user.id) }}" class="post-author"><span class='by'>by</span> <span class="author-wrapper">{{ post.user.name }}</span></a>
            {% endif %}
          </div>
          <div class="delete-button-wrapper">
            {% if profile %}
            <form action="/delete_post/{{ post.id }}/{{ post.user.id }}" method="GET" class="comment-form">
            <button type="submit" value="post" class="delete-button">delete post</button>
            </form>
            {% else %}
            <p></p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% include "create_comment_form.html" %}
    <div class='comments-wrapper'>
    {% for comment in comments%}
    <div class="comment-wrapper">
    {% include "comment.html" %}
    {% endfor %}
    </div>
  {% endif %}
  </div>
  </div>
  <div class="subreddits-wrapper">
    {% include "sidebar.html" %}
  </div>
</div>
{% endblock %}