{% extends "base.html" %}
{% block content %}
<h1 class="title">
  Posts by, {{ name }}!
</h1>
<div class="feed-wrapper">
  <div class="all-posts-wrapper">
  <div class="posts-wrapper">
  {% if user_posts %}
    {% for post in user_posts %}
    <div class="post">
    {% if current_user.is_authenticated %}
      <div class="post-vote-wrapper">
        <button class="upvote">
          <a href="{{ url_for('main.upvote_post_profile', post_id=post.id, user_id=post.user.id) }}">upvote</a>        
        </button>
        <p class='post-votes'>{{post.votes}}</p>
        <button class="downvote">
          <a href="{{ url_for('main.downvote_post_profile', post_id=post.id, user_id=post.user.id) }}">downvote</a>
        </button>
      </div>
      {% endif %}
      {% if not current_user.is_authenticated %}
      <div class="post-vote-wrapper">
        <button class="upvote">upvote</button>
        <p class='post-votes'>{{post.votes}}</p>
        <button class="downvote">downvote</button>
      </div>
      {% endif %}
      <div class="post-content-wrapper">
        <a href="{{ url_for('main.post_details', post_id=post.id) }} " class="post-title">{{post.title}}</a>        
        <h3 class='post-description'>{{post.description}}</h3>
        <div class="post-content-footer">
          <a href="{{ url_for('main.get_posts_for_subreddit', sub_name=post.sub) }} " class="post-subreddit">/h/{{post.sub}}</a>
          <a href="{{ url_for('main.profile', user_id=post.user.id) }}" class="post-author">by {{post.user.name}}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  {% endif %}
  </div>
  </div>
  <div class="subreddits-wrapper">
    {% include "form.html" %}

    <div class='subreddits-wrapper'>
    <a href="{{ url_for('main.get_all_posts') }}">All</a>
    {% if subreddits %}
    {% for subreddit in subreddits %}
    <div class="subreddit-container">
      <a href="{{ url_for('main.get_posts_for_subreddit', sub_name=subreddit.name) }}">{{subreddit.name}}</a>
    </div>
    {% endfor %}
  {% endif %}
    </div>
    </div>
</div>
{% endblock %}