{% extends "base.html" %}

{% block content %}
<div class="signup-wrapper">
    <h3 class="signup-title">Sign Up</h3>
    <div class="box">
        <form method="POST" action="/signup" class="signup-form">
            <div class="field">
                <div class="control">
                    <label class="signup-label email-label">Email</label>
                    <input class="input" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="signup-label name-label">Name</label>
                    <input class="input" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="signup-label password-label">Password</label>
                    <input class="input" type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="signup-buttons-wrapper"> 
                <button class="signup-button">Sign Up</button>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="email-exists">
                    {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}" class="go-to-login">login page</a>.
                </div>
                {% endif %}
                {% endwith %}
            </div>
        </form>
    </div>
</div>
{% endblock %}