{% extends "base.html" %}

{% block content %}
<div class="feed-wrapper">
  <div class="all-posts-wrapper">
  <div class="posts-wrapper">
  {% if music_posts %}
  <div class="subreddit-title-wrapper">
    <h1 class="subreddit-title">/h/{{music_posts[0].sub}}</h1>
    {% for subreddit in subreddits %}
      {% if subreddit.name == music_posts[0].sub %}
        <h1 class="subreddit-subtitle">{{subreddit.description}}</h1>
      {% endif %}
    {% endfor %}
  </div>
    {% for post in music_posts %}
      {% include "post.html" %}
    {% endfor %}
  {% endif %}
  </div>
  </div>
  <div class="subreddits-wrapper">
    {% with paginate=paginate %}
      {% include "sidebar.html" %}
    {% endwith %}
  </div>
</div>
{% block javascript %}
  <script>
    const form = document.querySelector('.addPostForm')
    let formIsOpen = false
    document.querySelector('.showForm').addEventListener('click', () => {
      if (!formIsOpen) {
        form.style.display = "flex";
        formIsOpen = true
      } else {
        form.style.display = "none"
        formIsOpen = false
      }
    })
  </script>
{% endblock %}
{% endblock %}
