<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ fontawesome_html() }}
    <title>Heddit</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,600;1,700&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/post.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/user-comment.css') }}">
</head>
<body>
<div class="user-comment">
{#
    {% if current_user.is_authenticated %}    
    <div class="post-vote-wrapper">
        <button class="upvote">
          <a href="{{ url_for('main.upvote_comment', post_id=comment.post_id, user_id=comment.user_id, comment_id=comment.id) }}">></a>        
        </button>
        <p class='post-votes'>{{comment.votes}}</p>
        <button class="downvote">
          <a href="{{ url_for('main.downvote_comment', post_id=comment.post_id, user_id=comment.user_id, comment_id=comment.id) }}">></a>
        </button>
      </div>
      {% endif %}
      {% if not current_user.is_authenticated %}
      <div class="post-vote-wrapper">
        <button class="upvote">></button>
        <p class='post-votes'>{{comment.votes}}</p>
        <button class="downvote">></button>
      </div>
      {% endif %}
      #}
      <div class="user-comment-content">
        <div class="user-comment-header">
            <a href="{{ url_for('main.user_profile', user_id=comment.user_id) }}" class="user-comment-author">
            <span class='by'>by</span> <span class="user-author-wrapper">{{ comment.author }}</span>
            </a>
            <p class='user-comment-timestamp'>on {{comment.timestamp}}</p>
        </div>
        <div class="user-comment-description">
            <p class="user-comment-details">{{comment.text}}</p>
        </div>
        {% if comment.author == current_user.name %}
        <div class="user-modify-content-buttons">
        <!--
          <button class="view-original-post user-modify-button">
              <a href="{{ url_for('main.post_details', post_id=comment.post_id) }}" >View Parent Post</a>
          </button>
          -->
            <a href="{{ url_for('main.post_details', post_id=comment.post_id) }}" class="view-original-post user-modify-button">View Parent Post</a>
            <form action="/delete_comment/{{ comment.id }}/{{ comment.user_id }}/{{comment.post_id}}" method="GET" class="user-comment-form">
                <button type="submit" value="delete" class="user-delete-button user-modify-button">
                  <i class="fa fa-trash-alt fa-lg"></i>
                </button>
            </form>
            {% with comment=comment %}
                {% include "edit_comment_button.html" %}
            {% endwith %}
        </div>
        {% else %}
        <div  class="user-modify-content-buttons-else">
            <button class="view-original-post user-modify-button">
              <a href="{{ url_for('main.post_details', post_id=comment.post_id) }}" class="view-original-post user-modify-button">View Parent Post</a>
            </button>
        </div>
        {% endif %}
      </div>
</div>
</body>
</html>