.comment {
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: #fff;
    padding-left: 15px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.comment-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 3%;
}
.comment-header {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}
.comment-author {
    margin: 0;
    padding: 0;
    font-family: 'Lato','Avenir', Helvetica,Arial , sans-serif!important;
    color: #323648;
    text-decoration: none;
    font-weight: 700;
    font-size: .8rem;
    opacity: .8;
    background-color: #fff!important;
}
.comment-timestamp {
    font-size: .8rem;
    margin: 0;
    margin-left: 2%;
    font-family: 'Avenir', Helvetica,Arial , sans-serif!important;
    color: #323648;
    opacity: .7;
    text-decoration: none;
    font-weight: 100;
    padding: 0;
}
.comment-details {
    margin-top: 1%!important;
    font-size: 1rem;
    width: 95%;
    font-family: 'Avenir', Helvetica,Arial , sans-serif!important;
    color: #323648;
    margin-top: 2px;
    opacity: .8;
    width: 90%;
    font-weight: 100;
}
/* #reply-form {
    border: 1px solid red;
    display: none;
} */
.reply-form-container {
    /* border: 1px solid red; */
    display: none;
}
.reply-wrapper {
}
#reply-form-button-wrapper {
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    width: min-content;
    padding: 4px;
    margin-left: -5px;
}
#reply-form-button-wrapper:hover {
    background-color: #b4b1b1;
    cursor: pointer;
    /* width: 15%; */
}
.reply-icon {
    opacity: .8;
    margin-top: .2vh;
    padding-left: 6px;
}
#reply-form-button {
    outline: none;
    border: none;
    font-family: 'Lora', 'Times New Roman', Times, serif;    
    font-size: .9rem;
    color: #323648;
    opacity: .9;
    background-color: transparent!important;
}
#reply-form-button:hover {
    cursor: pointer;
}
