.feed-wrapper {
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    height: min-content;
}
.all-posts-wrapper {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.subreddits-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: .5%;
    margin-left: -5.5%;
    flex: 1;
}
.posts-wrapper {
    width: 70%;
    margin-left: 20%;
    flex-direction: column;
    background-color: transparent;
}
.subreddit-title-wrapper {
    width: 50%;
    margin: 0;
    padding: 0;
}
.subreddit-title {
    /* font-family: 'Lato','Avenir', Helvetica,Arial , sans-serif!important; */
    font-family: 'Lora', 'Times New Roman', Times, serif;
    color: #323648;
    text-decoration: none;
    font-weight: 600;
    font-size: 2rem;
    opacity: 1;
    margin: 0;
    padding: 0;
}
.subreddit-subtitle {
    font-family: 'Avenir', Helvetica,Arial , sans-serif!important;
    color: #323648;
    text-decoration: none;
    font-weight: 100;
    margin-top: 2%;
    font-size: 1rem;
    opacity: .7;
}

.page-links-wrapper {
    margin-top: 2vh;
    width: 45%;
    /* margin-left: 14%; */
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    position: absolute;
    /* justify-content: space-between; */
}
.page-link {
    /* font-family: 'Avenir', Helvetica,Arial , sans-serif!important; */
    font-family: 'Lora', 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent!important;
    color: #323648;
    padding: 5px;
    margin-left: 1vw;
    text-decoration: none;
    transition: .2s ease-in-out;
}
.page-link-dots {
    font-size: .8rem;
    margin-left: 1vw;
}
.page-link-active {
    /* font-family: 'Avenir', Helvetica,Arial , sans-serif!important; */
    font-family: 'Lora', 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 1vw;
    background-color: transparent!important;
    padding: 5px;
    color: #2a4fd3;
    transition: .2s ease-in-out;
    text-decoration: none;
}
/* .view-all-button {
    font-family: 'Lora', 'Times New Roman', Times, serif;
    border: 1px solid #3B60E4;
    background-color: #3B60E4;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto!important;
    margin: 2px;
    margin-top: -1vh;
    font-weight: 100;
    font-size: .9rem;
    transition: .2s;
    transition: .2s ease-in-out;
} */

.view-all-button {
    padding: 5px;
    /* margin-top: -.5vh; */
    background-color: transparent!important;
    color: #323648;
    font-family: 'Lora', 'Times New Roman', Times, serif;
    /* font-family:'Avenir', Helvetica,Arial , sans-serif!important; */
    text-decoration: underline;
    font-size: .9rem;
    border: none;
    margin-left: auto!important;
}
.view-all-button:hover {
    cursor: pointer;
    color: #17349e;
}
/* .view-all-button a {
    background: transparent!important;
    color: #323648!important;
    text-decoration: none!important;
    opacity: 1;
}
.view-all-button:hover {
    background-color: #2a4fd3;
    border: 1px solid #2a4fd3;
    transition: .2s;
    cursor: pointer;
} */
#paginate {
}