.feed-wrapper {
    width: 100%;
    margin-top: 2%;
    display: flex;
    /* background-color: #f5f6f8!important; */
    flex-direction: row;
    height: min-content;
}
.all-posts-wrapper {
    display: flex;
    flex: 2;
    flex-direction: column;
}
.subreddits-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: .5%;
    margin-left: -5.5%;
    flex: 1;
}
.posts-wrapper {
    width: 70%;
    margin-left: 20%;
    flex-direction: column;
    background-color: transparent;
}
.subreddit-title {
    font-family: 'Lato','Avenir', Helvetica,Arial , sans-serif!important;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    opacity: 1;
}
.subreddit-subtitle {
    font-family: 'Avenir', Helvetica,Arial , sans-serif!important;
    color: #333;
    text-decoration: none;
    font-weight: 100;
    margin-top: -2%;
    font-size: 1.1rem;
    opacity: .7;
}
