.post {
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-top: 1vh;
    background-color: #fff;
    padding-left: 15px;
    padding-bottom: 2px;
    box-shadow: 0px 1px 3px rgba(34, 34, 34, 0.1);
    transition: .2s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}
.post-votes-wrapper {
    display: flex;
    flex: 1;
    margin: 0;
    border-right: 1px solid lightgrey;
    padding: 0;
    flex-direction: column;
}
.upvote {
    margin: 0;
    padding: 0; 
    font-family: 'Sigmar One', cursive;
    color: #323648;
    font-size: 1.3rem;
    /* transform: rotate(270deg); */
    margin-top: 3vh;
    font-weight: 900;
    background-color: transparent!important;
    border: none;
    opacity: .75;
}
.upvote a {
    color: #323648;
    text-decoration: none;
    transition: .2s;
    background-color: transparent!important;
}
.upvote a:hover {
    color: #049A8F;
    transition: .2s;
}
.post-votes {
    margin: 0;
    padding: 0;
    margin-top: -1vh;
    margin-bottom: -1vh;
    /* margin-top: 3px; */
    /* font-family: 'Lato','Avenir', Helvetica,Arial , sans-serif!important; */
    font-family: 'Lora', 'Times New Roman', Times, serif;
    color: #323648;
    font-size: 1rem;
    opacity: .8;
}
.downvote {
    margin: 0;
    padding: 0;
    font-family: 'Sigmar One', cursive;
    font-size: 1.3rem;
    margin-top: 0vh;
    /* transform: rotate(90deg); */
    font-weight: 900;
    background-color: transparent!important;
    opacity: .75;
    border: none;
}
.downvote a {
    color: #323648;
    text-decoration: none;
    transition: .2s;
    background-color: transparent!important;
}
.downvote a:hover {
    color: #BA274A;
    transition: .2s;
}
.post-content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 6;
    margin-left: 5%;
    margin-top: 2.5%;
    width: 90%;
}
.post-title-wrapper {
    display: flex;
    margin: 0;
    margin-top: -1%;
    padding: 0;
    flex-direction: row;
    justify-content: space-between
}
.post-title {
    margin: 0;
    padding: 0;
    font-family: 'Lato','Avenir', Helvetica,Arial , sans-serif!important;
    color: #323648;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    background-color: #fff!important;
}
.post-timestamp {
    font-size: .75rem;
    margin: 0;
    margin-right: 2%;
    font-family: 'Avenir', Helvetica,Arial , sans-serif!important;
    color: #323648;
    opacity: .7;
    text-decoration: none;
    font-weight: 100;
    padding: 0;
}
.post-description {
    margin: 0;
    padding: 0;
    margin-top: 1%!important;
    font-size: .9rem;
    word-wrap: break-word;
    white-space: pre-line;
    width: 90%;
    font-family: 'Avenir', Helvetica,Arial , sans-serif!important;
    color: #323648;
    /* border: 1px solid red; */
    height: 35px; 
    line-height: 35px;
    overflow: hidden; 
    margin-top: 2px;
    opacity: .5;
    font-weight: 100;
}
.post-content-footer {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    /* font-family: 'Avenir', Helvetica,Arial , sans-serif!important; */
    font-family: 'Lora', 'Times New Roman', Times, serif;    
    font-size: 1.1rem;
    width: 100%;
    opacity: .9;
    background-color: #fff!important;
    text-decoration: none!important;
    margin-top: 2%;
    justify-content: space-between;
}
.post-footer-content-wrapper {
    flex: 5;
}
.post-content-footer a {
    text-decoration: none!important;
    color: #323648!important;
}
.post-comments {
    margin-right: 2%;
    padding: 0;
    font-size: .85rem;
    opacity: .7;
    color: #323648;
    font-weight: 100;
    transition: .2s;
    background-color: transparent!important;
}
.post-comments:hover {
    color: #3B60E4!important;
    transition: .2s;
}
.post-subreddit {
    margin: 0;
    padding: 0;
    font-size: .85rem;
    opacity: .7;
    font-weight: 100;
    color: #323648;
    transition: .2s;
    background-color: transparent!important;
}
.post-subreddit:hover {
    color: #3B60E4!important;
    transition: .2s;
}
.by {
    font-weight: 100;
}
.post-author {
    margin: 0;
    padding: 0;
    font-size: .85rem;
    opacity: .9;
    font-weight: 600;
    margin-left: 2%;
    transition: .2s;
    background-color: transparent!important;
}
.author-wrapper:hover {
    color: #3B60E4;
    transition: .2s;
}

.modify-buttons-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row!important;
    margin-top: 1.5%;
    margin-right: 5%;
    /* border: 1px solid red; */
    padding-bottom: 10px;
}
.modify-button {
    font-family: 'Avenir', Helvetica,Arial , sans-serif!important;
    margin-top: -1vh;
    border-radius: 2px;
    flex: 1;
    display: flex;
    padding: 7px;
    font-size: .8rem;
    transition: .2s;
    border: none;
}
.delete-button {
    /* color: #fafafa;
    background-color: #BA274A;
    border: 1px solid #BA274A; */
    color: #323648;
    opacity: .9;
}
.edit-button {
    color: #323648;
    opacity: .9;
    margin-left: 1vw;
    background-color: transparent;
}
.edit-button:hover {
    /* border: 1px solid rgb(26, 61, 190);
    background-color: #fafafa; */
    opacity: 1;
    order: 2;
    cursor: pointer;
}
.delete-button:hover {
    opacity: 1;
    margin-left: auto!important;
    order:2;
    cursor: pointer;
}
.new-post {
    border: 5px solid red!important;
    transition: .2s ease-in-out;
}